/* @import url('./styles/variables.css');

#root {
  text-align: center;
  background-color: var(--main-background-color);
  margin-left: 36vh;
  margin: 0;
  padding: 0;
} */
/* 
.mainApp {
  margin: 0;
  padding: 0;
} */

/* @media (max-width: 767px) {
  body {
    transform: scale(0.6);
    transform-origin: 0 0;
  }
} */


